.left {
    text-align: left;
    padding-right: 50px;
}
.right {
    text-align: right;
    padding-left: 50px;
}
.header {
    padding: 20px 20px 100px 20px;
}
.google {
    text-align:  center;
}
.bar .buttons {
    text-align:  center;
}
.footer {
    align-self: flex-end;
}
.bottom{
    padding:10% 50% 10% 50%;
}